---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import { m } from '@/paraglide/messages.js';
---

<main>
	<h1>{m.example_message({ username: 'BaZz' }, { locale: 'de' })}</h1>
</main>
